<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-between">
      <h1>
      My Posts
    </h1>
      <button id="new-post-btn" type="button" class="btn btn-primary">New Post</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{#each user.posts as |post|}}
      <div id="{{post.id}}" class="large-card my-4 p-5 mh-auto bg-primary text-white rounded">
        <div class="row">
          <div class="col d-flex justify-content-between">
            <h4 class="blog-title align-self-center left">{{post.title}}</h4>
            <p class="blog-sentence flex-grow-1 align-self-center center">
              {{post.content}}
            </p>
            <div class="btn-group-vertical">
              <button id="update-btn" type="button" class="btn btn-warning">Update</button>
              <button id="delete-btn" type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<script src="/js/dashboard.js"></script>